<div class="container" >
  <div class="login-form" style="margin-top:1%;background-color:white;">     

    <div >
      <div class="row text-center">

        <h2 class="lite"><%=promocion.titulo%></h2>
      </div>
      <div class="row" style="color:black;">
        <div class="col-md-offset-1 col-md-10">
         <img src="<%=promocion.imagenesUrls%>" style="width:100%">
        </div>
      </div>
      <div class="row" style="color:black;">
        <div class="col-md-offset-1 col-md-10">
          <b><%=promocion.descripcionLarga%></b>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-offset-1 col-md-10">
          <table>
            <tr>
              <td>
                <b style="color:red">Precio regular</b>
              </td>
              <td>
                <b style="color:green">Precio con descuento</b>
              </td>
              <td>
                <b class="lite">Precio Kupon</b>
              </td>
            </tr>
            <tr>
              <td><h3 class="textCancel">$<%=promocion.precioRegular%></h3></td>
              <td><h3 style="color:green">$<%=promocion.precioDescuento%></h3></td>
              <td><h3 class="lite">$<%=promocion.precioKupon%></h3></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <br>
        <div class="col-md-12">
          <button class="btn btn-info btn-lg" style="width:100%" onclick="window.location='market://play.google.com/store/apps/details?id=thecouponsapp.coupon'"><b>!Descarga nuestra app <br> y empieza a ahorrar!</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
