<section id="container" class="">
<h1><a class="logo col-md-offset-5 col-md-2">Mis <span class="lite">Kupones</span></a>  </h1> 
  <div class="container" >

     
    <div class="login-form" style="margin-top:5%;background-color:white;">     

      <div >
        <div class="row text-center">

          <h2 class="lite"><%=promocion.titulo%></h2>
        </div>
        <p >
          <img src="<%=promocion.imagenesUrls%>" style="width:90%">
        </p>
        <p style="color:black;">
        <b><%=promocion.descripcionLarga%></b>
        </p>
        <div class="row">
          <table class="col-md-offset-1 col-md-10">
            <tr>
              <td>
                <b style="color:red">Precio regular</b>
              </td>
              <td>
                <b style="color:green">Precio con descuento</b>
              </td>
              <td>
                <b class="lite">Precio Kupon</b>
              </td>
            </tr>
            <tr>
            <td><h3 class="textCancel">$<%=promocion.precioRegular%></h3></td>
            <td><h3 style="color:green">$<%=promocion.precioDescuento%></h3></td>
            <td><h3 class="lite">$<%=promocion.precioDescuento%></h3></td>
                

            </tr>
          </table>
        </div>
        <div class="row">
          <br>
          <button class="btn btn-info col-md-offset-1 col-md-10" onclick="window.location='https://play.google.com/store/apps/details?id=thecouponsapp.coupon'"><b>!Descarga nuestra app y empieza a ahorrar!</b></button><br><br>
        </div>
      </div>
    </div>
  </div>
</section>
